:root {
  background-color: #F3F7FA;
  --form-control-disabled: #959495;
  --graphite: #4A4A4A;
  --light-blue: #2196F3;
}

@font-face {
  font-weight: 400; 
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 600; 
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.ttf");
}
* {
  font-family: "Open Sans", sans-serif;
  color: var(--graphite);
  font-size: 12px;
  font-weight: 600;
}


.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently*/
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  height: 160px;
  align-items: center;
}

.main {
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 20px;
}

.layout {
  flex-direction: row;
  margin: 0 20px;
  margin: -10px;
}

.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}


.center-layout {
  flex: 2;
  padding: 10px;
}

.left-layout {
  padding: 10px;
}

.duration {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.stops {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.destination {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-item {
  display: flex;
  width: 50%;
}

.ticket {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px #DFE5EC;
  width: 502px;
  height: 184px;
}

.tickets_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-more-tickets {
  margin-top: 20px;
}

.show-more-tickets_button {
  appearance: none;
  border: 0;
  height: 50px;
  width: 502px;
  border-radius: 5px;
  background: var(--light-blue);
  color: white;
  text-transform: uppercase;
}

.show-more-tickets_button:hover {
  background: #1870f0;
}

.show-more-tickets_button:focus {
  outline: none;
  background: #1465da;
}

.top_group-filters {
  box-sizing: border-box;
  width: 502px;
  display: inline-block;
}

.top_group-filters-item {
  display: inline-block;
  justify-content: center;
  flex-grow: 1;
  width: 33%;
  align-items: center;
}

.top_group-filters-item input[type="radio"] {
  display: none;
}

.top_group-filters-item label {
	box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 169px;
  background: white;
  text-transform: uppercase;
  border: 1px solid #DFE5EC;
}

.top_group-filters .top_group-filters-item:first-child label {
	border-radius: 5px 0 0 5px;
}
.top_group-filters .top_group-filters-item:last-child label {
	border-radius: 0 5px 5px 0;
}

.top_group-filters-item input[type="radio"]:checked+label {
  color: white;
  border-color: var(--light-blue);
  background-color: var(--light-blue);
}

.top_group-filters-item label:hover {
  color: var(--light-blue);
  border-color: var(--light-blue);
  background-color: #e8f4ff;
  position: relative;
}


.route {
  display: flex;
  flex-direction: column;
  height: 39px;
}

.gr {
  color: #A0B0B9;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.bk {
  color: var(--graphite);
  font-size: 14px;
}

.price {
  color: var(--light-blue);
  font-size: 24px ;
}

.carrier {
  align-self: flex-start;
  flex-direction: row-reverse;
}


.side_group-filters {
  background-color: white;
  width: 232px;
  height: 252px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #DFE5EC;
}

.side_group-filters_header {
  height: 12px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 20px 10px 20px;
}
.side_group-filters-list {
  padding-bottom: 10px;
}

.side_group-filters-item {
  padding: 0px 0px 0px 20px;
  align-items: center;
}

.side_group-filters-item:hover {
  cursor: pointer;
  background-color: #F1FCFF;
}

input[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #9ABBCE;
  border-radius: 2px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
input[type=checkbox]::before {
  position: absolute;
  content: url('../pointer.png');
  display: block;
  top: 1px;
  left: 3px;
  width: 7px;
  height: 13px;
  opacity: 0;
}
input[type=checkbox]:checked {
  color: var(--light-blue);
  border-color: var(--light-blue);
}
input[type=checkbox]:checked::before {
  opacity: 1;
}
input[type=checkbox]:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.side_group-filters-item label {
  position: relative;
  cursor: pointer;
  
  font-size: 13px;
  font-weight: 400;
  padding: 0 10px 0;
  user-select: none;
}

.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
  width: 10em;
  height: 10em;
}
.divLoader {
  height: 50vh;
  display: flex;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 766px) {
  .main, .layout, .side_group-filters, .top_group-filters, .ticket,
  .top_group-filters-item, .top_group-filters-item label, .show-more-tickets_button {
    width: 100%;
  }
  .layout {
    flex-direction: column;
  }
  .top_group-filters-item {
    margin-top: -1px;
  }
  .top_group-filters .top_group-filters-item:first-child label {
    border-radius: 5px 5px 0 0;
  }
  .top_group-filters .top_group-filters-item:last-child label {
    border-radius: 0 0 5px 5px;
  }
}